---
import Link from "./ui/link.astro";
import { Icon } from "astro-icon/components";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Meet the project.
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    Read the blog to see our progress or get to know the team!
  </p>
  <div class="flex mt-5 gap-4">
    <Link href="/blog" style="inverted">Blog</Link>
    <Link href="/about" style="inverted">The Team</Link>
    <Link
      size="lg"
      style="outline"
      rel="noopener"
      href="https://github.com/Fonseca004/SitePIC"
      class="flex gap-1 items-center justify-center"
      target="_blank">
      <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
      GitHub Repo
    </Link>
  </div>
</div>
