---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Efficiency",
    description:
      "You can expect your clothes to dry 30% faster in bad weather, without compromising effectiveness in ideal conditions.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Peace of mind",
    description:
      "Simply hang your clothes and relax—even if it starts to rain.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Affordability",
    description:
      "The initial investment is low, while your energy cost savings will be high.",
    icon: "bx:bxs-data",
  },
  {
    title: "Design",
    description:
      "With its minimal design, our product seamlessly blends into your building's aesthetic.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Community",
    description: "A comunidade agradece (?)",
    icon: "bx:bxs-user",
  },
  {
    title: "Environment",
    description:
      "By consuming less energy, you are not only saving money but also helping the Earth.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Why you should choose our product
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Six reasons that make our product a good investment.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
