---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Eficácia",
    description:
      "Pode esperar que a sua roupa seque mais rapidamente em dias de mau tempo, sem comprometer a eficácia em condições ideais.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Descanso",
    description:
      "Basta estender a roupa e relaxar — mesmo que comece a chover.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Poupança",
    description:
      "O investimento inicial é baixo, enquanto a poupança na fatura de energia será significativa.",
    icon: "bx:bxs-data",
  },
  {
    title: "Design",
    description:
      "Com um design minimalista, o nosso produto integra-se facilmente na estética do seu edifício.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Comunidade",
    description:
      "O SmartRack contribui para a construção de uma comunidade mais sustentável e consciente — que valoriza tanto a conveniência como a responsabilidade ambiental.",
    icon: "bx:bxs-user",
  },
  {
    title: "Ambiente",
    description:
      "Ao consumir menos energia, está não só a poupar dinheiro, mas também a ajudar o planeta.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Porquê SmartRack
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Seis razões que fazem do nosso produto um ótimo investimento.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
