---

---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">How it works</h2>
  <p class="text-lg mt-4 text-slate-600">
    The SmartRack features an automated folding system that activates when a
    rain sensor detects precipitation above a certain threshold (to be
    determined through experimentation). The sides are shielded by horizontal
    grills, which can open or close to either protect the clothes or allow air
    circulation, depending on the weather conditions.
  </p>
  <p class="text-lg mt-4 text-slate-600">
    To prevent the system from repeatedly turning on and off due to
    interferences, we implemented hysteresis control, ensuring greater stability
    and reliability.
  </p>
  {
    /* <p class="text-lg mt-4 text-slate-600">
    Explicar aqui o produto, até pôr a animacao do blender do monge!
  </p> */
  }
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {}
</div>
