---

---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">How it works</h2>
  <p class="text-lg mt-4 text-slate-600">
    Explicar aqui o produto, até pôr a animacao do blender do monge!
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {}
</div>
