---

---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Funcionamento
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    O SmartRack possui um sistema automático de dobragem que é ativado quando um
    sensor de chuva deteta precipitação acima de um determinado limiar (a ser
    definido através de experimentação). As laterais são protegidas por lâminas
    horizontais, que podem abrir ou fechar para proteger as roupas ou permitir a
    circulação de ar, dependendo das condições meteorológicas.
  </p>
  <p class="text-lg mt-4 text-slate-600">
    Para evitar que o sistema se ligue e desligue repetidamente devido a
    interferências, implementámos um controlo de histerese, garantindo maior
    estabilidade e fiabilidade.
  </p>
  {
    /* <p class="text-lg mt-4 text-slate-600">
    Explicar aqui o produto, até pôr a animacao do blender do monge!
  </p> */
  }
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {}
</div>
